    </div>
    <footer>
      <p>This blog is written by Alex Potsides</p>
      <p>Everything you see is &copy; {{dateToYear now}} him except where noted</p>
      <p>He is <a href="http://twitter.com/achingbrain">@achingbrain</a> on Twitter and surprisingly enough, he is <a href="https://github.com/achingbrain">achingbrain</a> on GitHub too</p>
    </footer>
    <script type="text/javascript" src="/js/prism.js"></script>
  </body>
</html>
